:root{
  --c-blue:#101D2c;
  --c-brown:#b28451;
--c-blue-o:hsla(250, 62%, 16%, 0.91) ;


}

*,
*::before,
*::after{
  padding:0;
  margin: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size:  62.5%;


}

.App
{
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3,min-content);
  grid-template-columns:[sidebar-s] 8rem [sidebar-b sidebar-e] minmax(6rem,1fr) [center] repeat(8,[col-s] minmax(min-content,14rem)[col-e]) [certer-e] minmax(6rem,1fr) [full-end]  ;
}